<html xmlns:th="https://www.thymeleaf.org"
  th:replace="~{fragments/layout :: layout (~{::body},'addclient')}">

<body>

  <h2 th:text="${'create' == action ? 'Add new Client' : 'edit' == action ? 'Editing Client' : 'Client Details'}"
      th:style="${'edit' == action} ? 'color: red;' : _ ">Client Details</h2>

  <div class="col-sm-10">
    <div th:if="${message}" class="alert alert-dismissible" th:classappend="${alertClass}">
      <div th:text="${message + ': ' + appUser.firstName + ' ' + appUser.lastName}"></div>  
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>

  <form th:object="${appUser}" class="form-horizontal" id="client-form" method="post">
    <div class="form-group has-feedback">
      <fieldset th:disabled="${'view' == action}">
        <input th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
        <input th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
        <input th:replace="~{fragments/inputField :: input ('Address', 'address', 'text')}" />
        <input th:replace="~{fragments/inputField :: input ('City', 'city', 'text')}" />
        <input th:replace="~{fragments/inputField :: input ('Telephone', 'telephone', 'tel')}" />
        <input th:replace="~{fragments/inputField :: input ('Email', 'email', 'text')}" />
      </fieldset>
      </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">

        <br/>

        <a th:if="${'view' == action}"
          th:href="@{/clients/clientDetails/__${appUser.id}__/edit}" class="btn btn-primary">Edit Client</a>

        <button th:if="${'view' != action}"
          class="btn btn-primary" type="submit" >Save Client</button>

        <a th:if="${'edit' == action}"
          th:href="@{/clients/clientDetails/__${appUser.id}__/edit}" class="btn btn-secondary">Reset</a>    
          
        <a th:if="${'create' == action}"
          th:href="@{/clients/listAll}" class="btn btn-primary">Cancel</a>
        
        <a th:if="${'edit' == action}"
          th:href="@{/clients/clientDetails/__${appUser.id}__}" class="btn btn-primary">Cancel</a>

      </div>
    </div>
  </form>
  
</body>
</html>
